conda/
*.csv
.DS_Store
01-House Rent (Linear Regression)/arg_parse.py
03-CIFAR 10 (Convolutional Neural Network)\cifar-10-batches-py
03-CIFAR 10 (Convolutional Neural Network)/cifar-10-python.tar.gz
*.tar
*.gz
*.tar.gz

